.edit__service__form-item {
	margin-top: 15px;
}

.ant-message .ant-message-notice-content,
.ant-message .ant-message-custom-content.ant-message-success {
	height: 50px;
	width: 300px;
	border-radius: 3px;
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	margin-top: 15px;

}
.ant-message .ant-message-notice-content.ant-message-error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.ant-message .ant-message-custom-content.ant-message-success {
	color: green;
}

.edit__service__form-btn.ant-btn,
.new__service__form-btn.ant-btn {
		margin-top: 10px;
}

.edit__service__form-btn.ant-btn:hover {
	background: var(--primary-color) !important;
	opacity: 0.7 !important;
	color: #fff;
	border-color: #fff;
}

.new__service-input.ant-input,
.services__select.ant-select {
	width: 40%;
}


.new__service__form-item {
	display: flex;
}

.service__images-title {
	margin-top: 15px;
}

@media only screen and (max-width: 425px) {
	.edit__service-container {
		height: 100%;
	}
	.edit__service-form {
		width: 100%;
		height: 70%;
	}

	.edit__service__form-item.edit__btn-item {
		height: 20%;
	}
	.edit__btn-item {
		display: flex;

    justify-content: center;
}
	.new__service-input.ant-input,
	.services__select.ant-select {
		width: 100%;
	}
	.edit__service__form-btn.ant-btn,
	.new__service__form-btn.ant-btn {
		height: 38px;
	}
	.new__service__form-item {
		display: flex;
	}
	.service__images-container {
		flex-direction: column;
	}
	.service__image-container {
		margin-top: 8px;
	}
	.edit__service__form-btn.ant-btn {
    position: absolute;
    border-bottom: none;
    border: none;
	}
	.edit__service-container {
		padding: 0 25px;
	}
}
