.filter__container {
  float: right;
}

.filter-btn {
  width: 150px;
  height: 40px !important;
  color: var(--primary-color) !important;
  letter-spacing: 1px;
  border-color: var(--primary-color) !important;
}

.filter-btn:hover {
  width: 150px;
  height: 40px !important;
  background: var(--primary-color) !important;
  letter-spacing: 1px;
  color: #fff !important;
  border-color: var(--primary-color) !important;
}

.filter__menu {
  position: absolute;
  right: 220px !important;
  top: 100px !important;
  width: 400px;
  border: 1px solid #eee;
  min-height: 300px;
  z-index: 1;
  background: #fff;
  padding: 2rem;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,.5);
  border-radius: 2px;
  z-index: 2;
}

.filter__background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.filter_option {
  width: 100%;
  background: #fff;
  height: 40px;
}

.filter-tilte {
  display: inline-block;
  height: 30px;
  opacity: 0.8;
  font-weight: bold;
  font-size: 14px;
}

.ant-radio {
  left: 300px;
}

.filter__menu-options:nth-child(2),
.filter__menu-btns,
.filter__menu-instant {
  padding-top: 2rem;
}
.filter__menu-options {
  border-bottom: 1px solid #eee;
}

.show-btn {
  float: right;
  background: var(--primary-color) !important;
  color: #fff !important;
  border: none !important;
}

.clear-btn {
  border: none !important;
  color: #56A2FD !important;
}

.filter__menu-type {
  padding-top: 10px;
}

.filter__menu-instant {
  border: none !important;
  min-height: 90px;
}

.filter_instant-booking.ant-switch-checked {
  background-color: var(--primary-color);
}

.filter_menu-instant--flex > span {
  display: flex;
  justify-content: space-between;
  padding-left: 22px;
}

.filter_menu-instant--flex label {
  cursor: pointer;
}

.ant-select-dropdown-menu.ant-select-dropdown-menu-root.ant-select-dropdown-menu-vertical {
  min-height: 45px !important;
}