.input {
  height: 40px !important;
  width: 60% !important;
}

.input:hover,
.input:focus {
  border-color: var(--secondary-color) !important;
  border-right-width: 0px !important;
  box-shadow: 0 0 0 1px var(--boxshadow-color) !important;
}
