/* Global styles */
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');

:root {
  --primary-color: #e05747;
  --secondary-color: #eee;
  --font-color: #fff;
  --boxshadow-color: rgba(189, 198, 206, 0.2);
  --links-color: #56A2FD;
  --links-hover-color: #2e3235;
  --background-color: #fafafa;
}
