@media only screen and (max-width: 768px) {
  .form__container {
    padding-top: 130px !important;
    height: 470px;
    padding: 0 1rem;
    background-position: 0vh 0vw;
    background-color: rgba(224, 87, 71, 0.9);
    flex-direction: column;
  }
  .ant-popover {
    left: 28px !important;
  }
  .search__form.services-search__form.ant-form.ant-form-horizontal,
  .ant-form.ant-form-horizontal.home-search__form {
    width: 80%;
    padding: 1rem !important;
    height: 290px;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait){
  .form__container {
    padding: 0 2rem !important;
  }
  .title {
    padding: 8rem 0 3rem 5rem;
    font-size: 36px;
  }
}

@media only screen and (max-width: 600px) {
  .services__container {
    padding: 0;
  }
  
  .search-btn button {
    height: 36px !important;
  }
}

@media only screen and (max-width: 425px) {
  
  .title {
    width: 240px;
    top: 3rem !important;
    position: absolute;
    font-size: 18px;
    letter-spacing: 0;
    padding: 0;
    left: -8%;
    margin: 0;
  }
  .frohub__banner-headline:nth-child(2) {
    padding-left: 24px;
  }
  .form__container {
    padding-top: 25px;
  }
  .ant-form.search__form{
    padding: 0 !important;
  }
  .home-search__form {
    margin: auto !important;
  }
  .ant-popover {
    left: 210px !important;
  }

  .ant-popover-placement-bottom {
    left: 15px !important;
  }
  .time__duration-box {
    padding: 0 !important;
  }
  .timing__form-item {
    margin: 0 !important;
  }
  .from__time {
    margin-left: 1rem !important;
  }
  .search__form {
    margin: 0rem !important;
    width: 100% !important;
  }
  .form__container.form__container-services {
    width: 100vw !important;
    left: 0;
  }
  .form__container.form__container-services .ant-select-selection.ant-select-selection--single .ant-select-arrow {
    left: 0px !important;
  }
  .form__container.form__container-home .ant-select-selection.ant-select-selection--single .ant-select-arrow {
    left: 15px !important;
  }
  .title.services__title {
    display: none;
  }
  .form__container.form__container-services {
    padding: 0 !important
  }
  .form__container.form__container-home .search__form-item {
    margin-bottom: 8px;
  }
  .form__container.form__container-home .ant-row.ant-form-item.search__form-time {
    margin-bottom: 10px !important;
  }
}
