@media only screen and (max-width: 768px) {
  .form__container {
    height: 340px;
    padding: 0 1rem;
    padding-top: 36px;
  }
  .title {
    font-size: 22px;
    padding: 9rem 0 3rem 2rem;
  }
  .ant-calendar-picker-container.calendar {
    left: 342px !important;
  }
  .ant-popover {
    left: 28px !important;
  }
  .home-search__form.ant-form{
    padding: 2rem !important;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait){
  .form__container {
    padding: 0 2rem !important;
  }
  .title {
    padding: 8rem 0 3rem 5rem;
    font-size: 36px;
  }
}

@media only screen and (max-width: 600px) {
  .services__container {
    padding: 0;
  }
  
  .search-btn button {
    height: 50px !important;
  }
}

@media only screen and (max-width: 425px) {
  
  .title {
    display: none;
  }
  .ant-form.search__form{
    padding: 0 !important;
  }
  .home-search__form {
    margin: auto !important;
  }
  .ant-popover {
    left: 210px !important;
  }
  .ant-calendar-picker-container.calendar {
    left: 470px !important;
  }

  .treatment__input input,
  .location__input input {
    height: 80px !important;
  }
  .ant-popover-placement-bottom {
    left: 60% !important;
  }
  .time__duration-box {
    padding-left: 2rem !important;
  }
  .timing__form-item {
    margin: 0 !important;
  }
}
