.ant-collapse-content {
  position: absolute;
  z-index: 1;
  background: #fff;
  width: 340px;
  border: 1px solid #eee;
  left: -2%;
}

/* .timing__btn, */
.date__btn {
  width: 120px !important;
  margin-left: 20px;
}
/*
.time__duration-box {
  width: 307px;
  display: flex;
  flex-direction: row;
}

.timing__form-item {
  width: 200px;
} */
.timing-btn {
  width: 140px !important;
}

.ant-calendar-picker-container.calendar {
  left: 480px !important;
  top: 300px !important;
}

.anticon.ant-calendar-picker-icon{
  display: none !important;
}

.picker input {
  visibility: hidden !important;
}

.date__container .picker:after {
  display: block !important;
  position: absolute;
  top: 0px;
  height: 33px;
  width: 140px !important;
  content: "Choose Date" !important;
  border: 1px solid #d9d9d9 !important;
  pointer-events: none;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
}

.date__container i{
  /* display: none !important; */
}