.ant-collapse-content {
  z-index: 1;
  background: #fff;
  width: 340px;
  border: 1px solid #eee;
  left: -2%;
}

.date__btn {
  width: 120px !important;
  margin-left: 20px;
}

.close__btn.ant-btn {
  display: none;
}

.date-title,
.time-title {
  display: inline-block;
  padding: 10px;
}

.picker-icon,
.time-box .ant-collapse-header,
.date-title,
.time-title {
  color: rgba(51, 51, 51, 0.4) !important;
  font-size: 16px !important;
}

.date-icon,
.time-icon {
  font-size: 20px !important;
}

.timing__close.anticon {
  display: none;
}

.selected__time {
  display: none;
}

.ant-calendar-picker-container.calendar {
  top: 380px !important;
}

.calendar .ant-calendar-my-select {
  pointer-events: none;
}

.anticon.ant-calendar-picker-icon {
  display: none !important;
}

.picker input {
  visibility: hidden !important;
}

.date__container .picker:after {
  display: block !important;
  top: 0px;
  height: 40px;
  width: 140px !important;
  content: "Choose Date" !important;
  border: 1px solid #d9d9d9 !important;
  pointer-events: none;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
}

.date__container .picker:after,
.ant-collapse-content {
  position: absolute;
}

.date__container .picker {
  cursor: pointer !important;
}

.date__container .picker div {
  height: 100%;
}

.time__duration-box {
  width: 308px !important;
}

.ant-popover {
  left: 190px !important;
}

.timing__form-item {
  width: 40%;
}

.ant-time-picker-panel-combobox>div:nth-child(2) {
  display: none;
}

.ant-time-picker-panel-select {
  width: 112px !important;
  overflow: scroll !important;
}

.ant-time-picker-panel-select ul {
  width: 100% !important;
}

.ant-time-picker-panel-select li {
  padding-left: 35px !important;
}

.ant-time-picker-panel-select li::after {
  content: ":00";
}

.ant-time-picker-panel-input {
  text-align: center;
}

.ant-calendar-input-wrap {
  display: none;
}

.timing-btn {
  width: 140px !important;
  height: 40px !important;
}

.ant-btn:focus {
  color: rgba(0, 0, 0, 0.65) !important;
  border: 1px solid #d9d9d9 !important;
}

.picker:hover.picker:after {
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.picker:hover.picker:after,
.date__active,
.choose__date-btn.ant-calendar-picker.picker.active:after,
.time-box .ant-btn:active, .time-box .ant-btn.active 
{
  color: #56A2FD !important;
  border: 1px solid #56A2FD !important;
}
.choose__time-btn,
.choose__date-btn {
  left: 10px;
}

.time-box {
  height: 45px !important;
}

.timing__container * {
  z-index: 2;
}

.time__background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

.ant-form-item-children {
  display: block !important;
}

.ant-collapse-content.ant-collapse-content-active {
  width: 100% !important;
  left: 1px !important;
}