.admin-opening-times-day {
  font-weight: bold;
  width: 80px;
}

.stylist-profile-image {
  display: block;
  max-width: 80%;
  margin-bottom: 2rem;
}
.stylist-cover-image {
  display: block;
  max-width: 80%;
  margin-bottom: 2rem;
}

.admin-users-about-me-wrapper {
  margin: 2rem 0 1rem 0;
}

/* .zones-times-container {
  display: flex;
  justify-content: space-between;
  width: 100% !important;
} */

.admin-user-opening-times {
  /* width: 320px !important; */
}

.admin-user-zones {
  /* width: 320px !important; */
}
