@media only screen and (max-width: 425px) {
  .small {
    width: 100%;
  }
  .ant-select-dropdown.ant-select-dropdown--single.ant-select-dropdown-placement-bottomLeft,
  .ant-select-dropdown.ant-select-dropdown--single.ant-select-dropdown-placement-bottomLeft ul {
    width: 100vw !important;
    min-height: 100vh !important;
    left: 0 !important;
  }
  .ant-select-dropdown.ant-select-dropdown--single.ant-select-dropdown-placement-bottomLeft {
    top: 0 !important;
    z-index: 99;
    bottom: 0 !important;
  }
  .ant-select-dropdown.ant-select-dropdown--single.ant-select-dropdown-placement-bottomLeft ul li {
    min-height: 40px;
    font-size: 16px;
    padding: 20px;
    border-bottom: 1px solid rgba(51, 51, 51, .2);
    color:rgb(51, 51, 51);
    font-family: 'Didact Gothic', sans-serif;
    letter-spacing: 0.5px;
    width: 90%;
    margin: 0 auto;
  }
  .ant-select-dropdown-menu-item.close__treatment-btn {
    display: block;
    width: 100px !important;
    background-color:#fff !important;
    margin: 0 !important;
    float: right;
    border-radius: 0 !important;
    font-size: 24px !important;
    border: none !important;
    color: rgba(51, 51, 51, 0.7) !important;
  }
  .ant-select-dropdown-menu-item.close__treatment-btn::before {
    content: "close";
  }
  .select__treatment-hint {
    display: block;
    margin-bottom: 20px !important;
    width: 100% !important;
  }
  .select__treatment-hint::before {
    content: "Search for treatments";
    color: rgba(51, 51, 51, 0.7) !important;
    font-weight: bold;
  }
}
