.signup__page {
  background-image: url('../../assets/images/signup.svg');
  background-repeat: no-repeat;
  background-position: 130vh 15vw;
  background-size: 30%;
 }

.signup__container {
  width: 40%;
  padding: 40px 0 0 90px;
}

.signup__title {
  color: var(--primary-color);
  text-align: center;
}

.signup__form-errMsg {
  display: inline-block;
  width: 590px;
  background: red;
  opacity: 0.6;
  color: #fff;
  height: 50px;
}