.personal-next-btn.ant-btn {
  position: absolute;
  width: 150px;
  height: 40px;
  font-size: 16px;
  position: absolute;
  right: 0;
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.personal-next-btn.ant-btn:hover {
  background-color: rgba(224, 87, 71, 0.7) ;
  border-color: var(--primary-color);
  color: var(--font-color);
}

.email-field {
  width: 40%;
}

.phone-field {
  width: 40%;
}

.name-wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.first-name-field {
  width: 44%;
}
.last-name-field {
  width: 44%;
}

@media screen and (max-width: 1000px) {
  .personal-form {
    margin: auto !important;
  }

  .phone-field,
  .email-field {
    width: 100%;
  }
  .name-wrapper {
    width: 100%;
  }

  .first-name-field,
  .last-name-field {
    width: 45%;
  }
}
