@media only screen and (max-width: 425px) {
  .header {
    padding: 0 !important;
  }
  .min-header {
    padding: 5% !important;
  }
  .left-header {
    width: 100% !important;
  }
  .treatment-title {
    display: none;
  }
  .small {
    width: 100%;
  }
}
