.services__header {
	width: 80%;
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
}
.services__statistic {
	padding: 0.8rem;
}
.services__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.services__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.ant-pagination.services__pagination {
	margin: 1rem auto 3rem;
	display: flex;
	justify-content: center;
}

.ant-pagination .ant-pagination-item {
	border: none;
	border-radius: 50%;
}

.ant-pagination .ant-pagination-item-active {
	background: var(--primary-color);
}

.ant-pagination .ant-pagination-item-active a,
.ant-pagination .ant-pagination-item-active a:active {
	color: #fff;
}

.ant-pagination .ant-pagination-item-active:focus a,
.ant-pagination .ant-pagination-item-active:hover a {
	color: #fff !important;
}

.ant-pagination.services__pagination .ant-pagination-item-link {
	border: none;
	font-size: 1.3rem;
}

.ant-pagination.services__pagination .ant-pagination-item-link:hover,
.ant-pagination.services__pagination .ant-pagination-item-link:focus,
.ant-pagination.services__pagination .ant-pagination-item-link:active {
	color: var(--primary-color) !important;
}

.ant-pagination.services__pagination .ant-pagination-disabled:hover {
	color: #ccc;
}

.services__pagination .ant-pagination-item a:hover {
	color: var(--primary-color);
}

.services__pagination .anticon {
	margin: 3px 3px 0 11px !important;
}

.min-header,
.header {
	width: 100%;
	background-color: rgb(224, 87, 71);
	padding: 0rem 0rem 0rem 10rem !important;
	transition: 0.400s ease-out;
	position: fixed;
	top: 0;
	z-index: 22;
	display: flex;
	align-items: center;
	background-image: url(https://files.slack.com/files-pri/TQ9830PT3-F0108F8B8F7/frohub_search.png);
	background-repeat: no-repeat;
	background-position: 0vh -7vw;
  background-size: 100%;

}

.header,
.max-header {
	min-height: 180px;
}

.max-header {
	padding-bottom: 1rem !important;
}
.min-header {
	height: 100px;
	/* padding-top: 0.9rem !important; */
}
.treatment-title {
	width: 65%;
}
.left-header {
	width: 35%;
}

.frohub__banner-headline {
	color: #fff;
	font-size: 24px;
	margin-left: 32px;
	z-index: 33;
}

.small {
	background: #fff;
	width: 368px;
	/* height: 55px; */
	padding: 10px;
	display: flex;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.15), 0 0 1px 0 rgba(0,0,0,.4);
	animation: smallbox 0.5s ease-in-out;
}

@keyframes smallbox {
	0%{
		height: 80px;
		transform: translateY(10px);
	}
	50% {
		height: 60px;
	}
	100% {
		height: 55px;
	}
}

.search-info {
	padding-left: 8px;
	font-size: 14px;
	color: rgb(77, 77, 77);
	line-height: 20px;
	font-family: 'Didact Gothic', sans-serif;
}

.search-info__date-time {
	display: inline-block;
	padding-left: 8px;
}

.search-info__date-time,
.search-info__location {
	color: rgba(77, 77, 77, .7);
}
.search-info__time {
	padding-left: 5px;
}

.small__form-seach-icon.anticon.anticon-search {
	font-size: 24px;
}

.min-header .frohub__banner-headline {
	margin-left: 0 !important;
	font-size: 28px;
}
