.services__container {
  margin: auto;
}
.services__header {
  padding: 1.5rem;
}
.services__statistic {
  padding: 0.8rem;
}
.services__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
