.service__card {
  margin: 1.5rem !important;
  text-align: center;
  border: none !important;
  min-height: 390px !important;
  width: 298px;
}

.service__img {
  display: inline-block !important;
  height: 376px !important;
}

.price {
  display: block;
  padding: 1rem;
  color: #37cadd;
}

.service__title {
  padding: .5em 0;
  margin: 0;
  font-size: 1em;
  color: rgba(85, 85, 85, 0.8);
  height: 45px;
}

.service-link {
  border-radius: 1px;
  padding: .9em 1.6em;
  font-weight: normal;
  border: none;
  text-shadow: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #fff!important;
  background-color: #37cadd;
}
